<div class="col-md-3 col-sm-12">
    <div  class="btn-group-vertical">
    <ul>
            <button type="button" class="btn btn-link">
                <a href="Index.php">Principal</a>
            </button>
            <button type="button" class="btn btn-link">
               <a href="CadastroAluno.php">Cadastro de Alunos</a>
            </button>
            <button type="button" class="btn btn-link">
                <a href="CadastroProfessor.php" class="btn btn-link">Cadastro de Professores</a>
            </button>
            <button type="button" class="btn btn-link">
               <a href="RemoverAluno.php" class="btn btn-link"> Remover Aluno</a>
            </button>
            <button type="button" class="btn btn-link">
                <a href="RemoverProfessor.php" class="btn btn-link"> Remover Professor</a>
            </button>
            <button type="button" class="btn btn-link">
                Alterar Aluno
            </button>
            <button type="button" class="btn btn-link">
                Alterar Professor  
            </button>
    </ul>
    </div>
</div>